.main_container{
    /* max-width: 1161px; */
    margin: 0 auto;
}


p{
    margin-left:10px;
    margin-top: 10px;
    font-weight: 600px;
    font-size:16px;
    line-height: 24px;
}
h1{
    font-weight: 800px;
    font-size:48px;
    line-height: 72px;
    margin-left:10px;
    margin-top: 10px;

}